[NetDev]
Name={{ networkd_wg_ifname }}
Kind=wireguard
Description=Wireguard Mesh

[WireGuard]
{% if networkd_wg_listen_port is defined %}
ListenPort={{ networkd_wg_listen_port }}
{% endif %}
PrivateKey={{ networkd_wg_private_key }}

{% for peer in peers %}
[WireGuardPeer]
# Peer: {{ peer.hostname }}
PublicKey={{ peer.public_key }}
{% for ips in peer.allowed_ips %}
AllowedIPs={{ ips }}
{% endfor %}
{% if peer.port %}
Endpoint={{ peer.hostname }}:{{ peer.port }}
{% endif %}
{% endfor %}
